<html>
<head>
	<title></title>
    <!-- <link rel="stylesheet" href="/assets/styles.css"  > -->
    <script type="text/javascript" src ="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<h1>Results page</h1>
<body>
    
    
    <p>Movie Data</p>      
    <li>
       <strong>Title:</strong> <%= data['Title'] %>
    </li>
    
    <li>
       <strong>Year:</strong> <%= data['Year'] %>
    </li>

    <li>
        <strong>Released:</strong>  <%= data['Released'] %>
    </li>

    <li>
        <strong>Runtime:</strong> <%= data['Runtime'] %>
    </li>

    <li>
        <strong>Genre:</strong> <%= data['Genre'] %>
    </li>

    <li>
        <strong>Director:</strong> <%= data['Director'] %>
    </li>

    <li>
        <strong>Writer:</strong> <%= data['Writer'] %>
    </li>

    <li>
        <strong>Actors:</strong> <%= data['Actors'] %>
    </li>

    <li>
        <strong>Plot:</strong>  <%= data['Plot'] %>
    </li>

    <li>
        <strong>Language:</strong> <%= data['Language'] %>
    </li>

    <li>
        <strong>Awards:</strong>  <%= data['Awards'] %>
    </li>
    
    

    <li>
      <strong>IMDB Rating:</strong>  <%= data['imdbRating'] %>
    </li>




</body>
</html>